/*Fonts*/
@import url('https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');
$title-font: 'Lexend Deca', sans-serif;
$content-font: 'Dosis', sans-serif;

/*Colours: */

$dark-blue: #0E34A0;
$light-blue: #3D52D5;
$accent-green: #64DB3F;
$background-pale: #F3F9D2;
$bpt:#CEF8FA; /*Background pale tint*/
$text-dark: #474350;
/*Add tints for all these colors, for shadows / accents within the section / hover / etc. */

/*CSS Styling: Overall rules for fonts, colors, footer. */

body {
    background-color: $dark-blue;
}

h1, h2, h3, h4, h5, h6, p {
    color:$text-dark;
    background-color: $background-pale;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $title-font;
}

p, span, footer {
    font-family: $content-font;
}

footer {
    background-color: $light-blue;
    margin-top:20px;
    padding-top:20px;
}

.footer-icon {
    background-color: $background-pale;
    color:$text-dark;
}

.about-and-contact {
    position: absolute;
    top: 20px;
    right: 20px;
}

.hide {
    visibility: hidden;
    height: 0px;
}

/*Today Page: */

.time-from-db, .achievement-text {
    background-color:$bpt;
    font-family: $content-font;
    margin:10px;
}