{% extends 'base.html' %} {% block content %}
<nav class="nav">
            <ul class="nav-list">
                <li class="nav-item"><a href= "{{ url_for('home') }}" class="link">Home<i class="fas fa-home"></i></a></li>
                <li class="nav-item"><a href= "{{ url_for('about') }}" class="link">About & Contact<i class="fas fa-question"></i></a></li>
            </ul>
        </nav>
<h1>About & Contact</h1>
<p class="about">What Ive Done is a new way of thinking about your daily productivity. Most productivity sites and apps progress through removing tasks you have done, but What I've Done works in the opposite direction. When you achieve something, you write it down. As you progress through your day and complete tasks (Acheivements), write it down. Congratulate yourself at the end of the day when you can see how much you have accomplished.</p>
<p class="about">You can use What Ive Done in different ways. Maybe you want to achieve a certain number each day. Or, a number per hour. Its your tool to get creative with it.</p>
<p class="about">What Ive Done can be used alone, if you work spontaneously and unpredictably, or in conjunction with your regular to do list, to know what you want to work on achieving. However you use What I've Done, it aims to be a new, happier, more positive approach to your daily productivity.</p>
<h3 class="contact-title">Contact</h3>
<p class="contact">I'd love to hear from you! Are you enjoying using What Ive Done? Have an idea for improvement? Be in touch!</p>
<p class="warning-message">An online form is coming soon, but for now please be in touch using this email address: mentalmodelchallenge@gmail.com</p>
{% endblock %}

