<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ title_of_page }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/ce0566913f.js"></script>
    <link rel="stylesheet" href="/../assets/styles/base.css">
</head>

<body>
    {% block content %}{% endblock %}
    <footer>
        <a href="https://github.com/rachel-white" class="link github-link"><i class="icon fab fa-github-square"></i><span>Rachel White</span></a>
        <i class="icon far fa-copyright"></i>
    </footer>
</body>


</html>