<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ title_of_page }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Bootstrap, FontAwesome, jQuery links-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/ce0566913f.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    {% block styling %}
    {% endblock %}
</head>

<body>
    {% block content %}{% endblock %}
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-6 offset-3">
                    <a href="https://github.com/rachel-white" class="footer-icon link github-link"><i class="icon fab fa-github-square"></i><span class="footer-icon">Rachel White</span></a>
        <i class="icon far fa-copyright footer-icon"></i>
                </div>
            </div>
        </div>
        
    </footer>
</body>


</html>