{% extends 'base.html' %}

 {% block styling %}
       <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% endblock %}
    
    
{% block content %}


<!--title - history -->

<nav class="nav">
        <ul class="nav-list">
            <div class="nav-section">
                <li class="nav-item"><a href= "{{ url_for('home') }}" class="link">Home<i class="fas fa-home"></i></a></li>
            </div>
            <div class="nav-section">
                <li class="nav-item"><a href= "{{ url_for('about') }}" class="link">About & Contact<i class="fas fa-question"></i></a></li>
            </div>
            <div class="nav-section">
                 <li class="nav-item"><a href= "{{ url_for('today') }}" class="link">Today<i class="fas fa-user-clock"></i></a></li>
            </div>
            <div class="nav-section">
                <li class="nav-item"><a href= "{{ url_for('history') }}" class="link">History<i class="fas fa-history"></i</a></li>
            </div>
            <div class="nav-section">
                <li class="nav-item"><a href="{{ url_for('signout') }}" class="link">Sign Out<i class="fas fa-sign-out-alt"></i></a></li>
            </div>
        </ul>
    </nav>

<h3>Here are your previous acheivements, {{ userID }}</h3>
    <div class="history history-page">
        <div class="history date">
            {% for hist in history %}
                <div class="history date-history">
                    <!--Generate from Mongo, each document is a new row -->
                   <!--  {% for achievement in hist %} -->
                    <!--Generate from Mongo, each document is a new row -->
                    <div class="container">
                        <div class="row">
                            <div class="col-3">
                                <div class="achievement-text">{{hist.date}}</div>
                            </div>
                            <div class="col-3">
                                <div class="time-from-db">{{hist.time}}</div>
                            </div>
                        <div class="col-6">
                            <div class="achievement-text">{{hist.achievement}}</div>
                        </div>
                    </div>
                </div>
               <!-- {% endfor %} -->
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}