{% extends 'base.html' %}

 {% block styling %}
       <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% endblock %}
    
    
{% block content %}


<!--title - history -->

<nav class="nav">
        <ul class="nav-list">
            <div class="nav-section">
                <li class="nav-item"><a href= "{{ url_for('home') }}" class="link">Home<i class="fas fa-home"></i></a></li>
            </div>
            <div class="nav-section">
                <li class="nav-item"><a href= "{{ url_for('about') }}" class="link">About & Contact<i class="fas fa-question"></i></a></li>
            </div>
            <div class="nav-section">
                 <li class="nav-item"><a href= "{{ url_for('today') }}" class="link">Today<i class="fas fa-user-clock"></i></a></li>
            </div>
            <div class="nav-section">
                <li class="nav-item"><a href= "{{ url_for('history') }}" class="link">History<i class="fas fa-history"></i</a></li>
            </div>
            <div class="nav-section">
                <li class="nav-item"><a href="{{ url_for('signout') }}" class="link">Sign Out<i class="fas fa-sign-out-alt"></i></a></li>
            </div>
        </ul>
    </nav>

<h3>Here are your previous acheivements, {{ userID }}</h3>
    <div class="history history-page">
        <div class="history date">
            <div class="history list-acheived">
                <div class="history acheivement">
                    <!--Generate from Mongo, each document is a new row -->
                    <div class="history time"></div>
                    <div class="history achievement-text"></div>
                </div>
            </div>
        </div>
    </div>
        
<!--div for each date-->
<!--div looks like a large card, in a different colour to the cards, but similar to the backgroun -->
<!--div contains generated cards of each entry from that day-->
<!-- and maybe a totla number of acheivements for that date-->
<!--footer-->

{% endblock %}