{% extends 'base.html' %}
{% block content %}
    <body>
        <nav class="nav nav-homepage">
            <div class="nav-section">
                <li class="nav-item">About & Contact</li>
                <li class="nav-icon icon"><i class="fas fa-question"></i></li>
            </div>
        </nav>
    <h1 class="heading">What I've Done</h1>
    <h2 class="welcome-message">Welcome to What I've Done. Get started by entering a username below.</h2>
    <div class="new-user">
        <form class="username-create">
            <p class="username-warning">When choosing a username, please use a combination of names and numbers to minimise the chance of a duplicate username.</p>
            <input name="username" type="text" placeholder="Create Your Username">
            <button name="submit" type="submit" formmethod="POST">Enter</button>
        </form>
    </div>
    <div class="enter-account">
        <p>If you already have an account, enter your username here:</p>
        <form class="username-enter">
            <input name="username" type="text" placeholder="Enter Your Username">
            <button name="submit" type="submit" formmethod="POST">Enter</button>
        </form>
    </div>
    </body>
{% endblock %}