{% extends 'base.html' %}
{% block content %}
<!--heading-->
<h2>What I've Done</h2>

<nav class="nav">
        <ul class="nav-list">
            <div class="nav-section">
                <li class="nav-item"><a href= "{{ url_for('home') }}" class="link">Home</a></li>
                <li class="nav-icon icon"><a href= "{{ url_for('home') }}" class="link"><i class="fas fa-home"></i></a></li>
            </div>
            <div class="nav-section">
                <li class="nav-item"><a href= "{{ url_for('about') }}" class="link">About & Contact</a></li>
                <li class="nav-icon icon"><a href= "{{ url_for('about') }}" class="link"><i class="fas fa-question"></i></a></li>
            </div>
            <div class="nav-section">
                 <li class="nav-item"><a href= "{{ url_for('today') }}" class="link">Today</a></li>
                <li class="nav-icon icon"><a href= "{{ url_for('today') }}" class="link"><i class="fas fa-user-clock"></i></a></li>
            </div>
            <div class="nav-section">
                <li class="nav-item"><a href= "{{ url_for('history') }}" class="link">History</a></li>
                <li class="nav-icon icon"><a href= "{{ url_for('history') }}" class="link"><i class="fas fa-history"></i></a></li>
            </div>
        </ul>
    </nav>
<h3>Welcome, {{ userID }}</h3>
<h5>Enter what you've achieved and see your accomplishment thoughout the day.</h5>

<div class="day">
    <div class="list-acheived">
        <div class="acheivement">
            <!--Generate from Mongo, each document is a new row -->
            <div class="time"></div>
            <div class="achievement-text"></div>
            <div class="total">
                <p class="total-acheivements">Total Acheivements So Far Today:</p>
                <span class="total-acheivements">Generate from mongo, number of achevements with same date</span>
            </div>
        </div>
    </div>
    
</div>

<form class="enter-acheivement">
    <textarea name="achievement" placeholder="Enter Your Achievement"></textarea>
    <button onclick="" class="submit-button">+</button>
</form>
{% endblock %}