{% extends 'base.html' %}

 {% block styling %}
       <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% endblock %}
    

{% block content %}
<!--heading-->
<h2>What I've Done</h2>
<nav class="nav">
        <ul class="nav-list">
            <div class="nav-section">
                <li class="nav-item"><a href= "{{ url_for('home') }}" class="link">Home<i class="fas fa-home"></i></a></li>
            </div>
            <div class="nav-section">
                <li class="nav-item"><a href= "{{ url_for('about') }}" class="link">About & Contact<i class="fas fa-question"></i></a></li>
            </div>
            <div class="nav-section">
                 <li class="nav-item"><a href= "{{ url_for('today') }}" class="link">Today<i class="fas fa-user-clock"></i></a></li>
            </div>
            <div class="nav-section">
                <li class="nav-item"><a href= "{{ url_for('history') }}" class="link">History<i class="fas fa-history"></i></a></li>
            </div>
            <div class="nav-section">
                <li class="nav-item"><a href="{{ url_for('signout') }}" class="link">Sign Out<i class="fas fa-sign-out-alt"></i></a></li>
            </div>
        </ul>
    </nav>
<h3>Welcome, {{ userID }}</h3>
<h5>Enter what you've achieved and see your accomplishment thoughout the day.</h5>

<div class="day">
    <div class="list-achieved">
        <div class="achievement">
            <!--Generate from Mongo, each document is a new row -->
            <div class="time-from-db"></div>
            <div class="achievement-text"></div>
            <div class="total">
                <p class="total-achievements">Total Achievements So Far Today:</p>
                <span class="total-achievements">Generate from mongo, number of achevements with same date</span>
            </div>
        </div>
    </div>
    
</div>

<form class="enter-achievement" action="/add_achievement" method="POST">
    <textarea name="achievement" placeholder="Enter Your Achievement" required></textarea>
    <input type="text" id="time" name="time" value=""/>
    <div class="time" name="time"></div>
    <button class="submit-button">+</button>
</form>

<div class="time-add-to-db" name="time">This is the time div</div>
    <button class="click-for-time">Get Time Button</button>
<script type="text/javascript" src="{{ url_for('static', filename='js/today.js') }}"></script>
{% endblock %}

