{% extends 'base.html' %}
{% block content %}
<!--heading-->
<h2>What I've Done</h2>

<nav class="nav">
    <ul class="nav-list">
        <li class="nav-item">Home</li>
        <li class="nav-item">About - Signed In</li>
        <li class="nav-item">Today</li>
        <li class="nav-item">History</li>
    </ul>
</nav>

<h5>Enter what you've achieved and see your accomplishment thoughout the day.</h5>

<!--card genrates from database of entries so far from today (previous 00:00-->

<!--entry box for new entry - text area--->

<form class="enter-action">
    <textarea name="action" placeholder="Enter Your Acheivement"></textarea>
    <i class="fas fa-plus-circle"></i>
</form>
<!--plus sign to submit new entry-->
{% endblock %}